<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title></title>        
        <meta name="viewport" content="width=device-width" /> 
        @Styles.Render("~/Content/themes/ui-lightness/css", "~/Content/css")      
        @Scripts.Render("~/Scripts/js")
    </head>
    <body>                
        @RenderBody()        
    </body>
</html>
